#cv-preview {
    grid-column: 2 / 3;
    grid-template-rows: auto 1fr;
    box-shadow: 0px 3px 6px 7px #7c7c7c3a;
    flex: 0 1 800px;
    background-color: white;
}


form, form > section, #cv-preview {
    display: grid;
}

h2 {
    margin-bottom: 25px;
}

section > input, #educational-experience > div > input {
    margin: 6px 0px 20px 10px;
    padding: 5px;
    padding-left: 7px;
    border: none;
    font-size: 0.9rem;
    background-color: rgba(54, 164, 228, 0.212);
    border-radius: 8px;
    border: 1px solid white;
}

.degree-list, .job-list {
    padding: 0;
    display: grid;
    gap: 20px;
}

.degree-list-item, .job-list-item {
    display: grid;
    align-items: center;
    grid-template-columns: auto 1fr;
}

section > input:hover {
    border-color: black;
}

textarea {
    resize: none;
}

.cv-header {
    display: grid;
    grid-template-rows: 1fr auto;
    background-color: #1d4ed8;
    color: white;
    padding: 25px 50px;
    font-size: 1rem;
    row-gap: 3px;
}

.cv-body > li {
    font-size: 1.1rem;
}

.pfp-and-name > span {
    padding-top: 7px;
    font-size: 3.5rem;
}


section > div > h2 {
    background-color: rgba(54, 164, 228, 0.212);
}

.pfp-and-name > img {
    width: 100px;
}

.cv-preview-degree {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto 1fr;
    column-gap: 32px;
    padding: 0;
    margin: 0;
}

.cv-preview-study-time {
    grid-row: 1 / 3;
}

.job {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: auto 1fr;
    padding: 0;
    column-gap: 32px;
    margin: 0;
}

.cv-preview-study-time, .job-tenure {
    padding: 16px 20px 0px;
    list-style-type: none;
}

.job-tenure {
    grid-row: 1 / 4;
}

.position, .cv-preview-title {
    font-size: 1.15rem;
    padding-top: 12px;
}

.company, .cv-preview-school {
    font-size: 1rem;
    font-weight: 200;
    list-style-type: none;
    margin: 10px 0px;
}

.cv-preview-school {
    margin-bottom: 20px;
}

.description {
    margin-left: 35px;
    font-size: 14px;
}

.description > div {
    max-width: 350px;
}

form {
    gap: 25px;
    flex: 0 1 400px;
}

.add-button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: clamp(50px, 100%, 115px);
    border-radius: 8px;
    border: 1px solid white;
    justify-self: center;
    padding: 0;
}

.add-button:hover {
    cursor: pointer;
    border-color: black;
}

#work-experience > .add-button {
    max-width: 100px;
}

.input-buttons {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: end;
    gap: 8px;
}


.cancel-button, .submit-button {
    font-size: 0.72rem;
    padding: 7px 15px;
    border-radius: 5px;
    border: 1px solid black;
}

.submit-button {
    background-color: #38bdf8;
}

.submit-button:hover {
    background-color: #7dd3fc;
}

.job-tenure, .cv-preview-study-time {
    background-color: #27272a;
    color: white;

}

.cv-body > h2, .cv-footer > h2 {
    background-color: rgb(116 189 231 / 17%);
    margin: 0;
    padding: 10px 0px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cv-body, .cv-footer {
    margin: 0px 50px;
}

.edit {
    background-image: url(./images/square-edit-outline.svg);
}

.delete {
    background-image: url(./images/delete.svg);
}

.edit, .delete {
    cursor: pointer;
    background-size: 100%;
    width: 25px;
    height: 25px;
    border: none;
    background-color: white;
}

.edit-and-delete-buttons {
    display: flex;
    justify-content: end;
    gap: 5px;
}

.header-icon {
    width: 20px;
    background-color: #27272a;
    padding: 3px;
    border-radius: 50%;
}

form > section > h2 {
    display: flex;
    gap: 10px;
    align-items: center;
}

.form-h2-icon {
    width: 30px;
}

.add-button > img {
    width: 20px;
    padding-bottom: 3px;
}

#general-information, #educational-experience, #work-experience {
    border-radius: 8px;
    padding: 10px 25px;
    background-color: white;
    box-shadow: 0px 3px 6px 7px #7c7c7c3a;
}

#educational-experience, #work-experience {
    padding: 10px 25px 35px;
}

.phone-and-email {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.phone-and-email > span {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1rem;
}

.pfp-and-name {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

section > label {
    padding-bottom: 3px;
}

#job-description {
    margin-bottom: 8px;
}

@media (max-width: 1000px) {
    .pfp-and-name > span {
        font-size: 2.1rem;
    }

    .pfp-and-name > img {
        width: 80px;
    }

    .cv-header {
        padding: 25px;
    }

    .phone-and-email {
        gap: 12px;
        
    }

    .phone-and-email > span {
        font-size: 14px;
        gap: 5px;
    }

    .header-icon {
        width: 16px;
    }

    .cv-preview-study-time, .job-tenure {
        font-size: 14px;
        padding: 14px 16px 0px;
    }

    .position, .cv-preview-title {
        font-size: 1rem;
    }

    .company, .cv-preview-school {
        font-size: 14px;
    }
    
    .description {
        font-size: 12px;
    }

    h2 {
        font-size: 1.3em;
    }

    section > label {
        font-size: 15px;
    }

    section > input {
        font-size: 13px;
    }

    .degree-list-item > span, .job-list-item > span {
        font-size: 14px;
    }

    .cv-body, .cv-footer {
        margin: 0px 25px;
    }
}

@media (max-width: 770px) {
    .pfp-and-name, .phone-and-email {
        flex-direction: column;
        align-items: center;
        gap: 0px;
    }

    .pfp-and-name > span {
        padding: 0;
        text-align: center;
    }

    .phone-and-email {
        gap: 4px;
    }

    .cv-header {
        row-gap: 6px;
    }

    .cv-preview-degree, .job {
        column-gap: 22px;
    }

    .description {
        margin-left: 22px;
    }

    .cv-preview-study-time, .job-tenure {
        font-size: 13px;
        padding: 14px 14px 0px;
    }
}

@media (max-width: 600px) {
    main {
        flex-direction: column;
    }

    section > label {
        font-size: 16px;
    }

    section > input {
        font-size: 14px;
    }

    h2 {
        font-size: 1.2em;
    }

    .form-h2-icon {
        width: 25px;
    }

    .degree-list-item > span, .job-list-item > span {
        font-size: 16px;
    }

    #educational-experience, #work-experience {
        padding: 10px 22px 35px;
    }

    .company, .cv-preview-school {
        font-size: 15px;
    }

    .description {
        font-size: 13px;
    }

    form > section > h2 {
        margin-bottom: 14px;
    }
}