html {
    height: 100vh;
    background-color: #3f3f46;
}

html,
body{
    margin: 0;
    font-family: system-ui, 'Segoe UI', 'Roboto', Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

main {
    display: flex;
    justify-content: center;
    margin: 30px 45px;
    gap: 25px;
}

@media (max-width: 280px) {
    main {
        margin: 10px;
    }
}
